
      body {
      background: #121826;
      color: white;
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    /* Main body */
    .body {
      max-width: 1100px;
      margin: 30px auto 0;
      padding: 20px;
      display: flex;
      gap: 40px;
    }
 /* search bar create */
    .searchbar {
      text-align: center;
      margin-bottom: 40px;
      margin: 18px 0 12px 0;
    }
    .Title {
      font-size: 32px;
      font-weight: bold;
    }
  
    .search-input {
      width: 60%;
      padding: 12px 18px;
      font-size: 1rem;
      border-radius: 8px;
      background: #232a3c;
      color: white;
    }
    .Button {
      display: flex;
      justify-content: center;
      gap: 16px;
    }
    .click:hover{
      background-color: lightskyblue;
    }
    .click {
      background: #171e2f;
      border-radius: 6px;
      padding: 8px 18px;
      color: white;
      margin-top: 5px;
    }
    .box {
      font-size:16px;
      color: white;
      margin-bottom: 30px;
    }

    .cards-boxs {
  
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 22px;
      margin-bottom: 30px;
    }
    .card {
      background: #171e2f;
      padding: 22px 24px;
      border-radius: 10px;
      box-shadow: 2px 8px #10111b33;
      min-height: 100px;
    }
    .card-name {
      font-size: 20px;
      font-weight: bold;
      margin-bottom: 6px;
    }
   
    .Que-Title {
      font-size: 18px;
      margin-bottom: 10px;
      font-weight: bold;
    }
    .list {
      background: #141625;
      border-radius: 7px;
    }
    .que {
      border-bottom: 1px solid #212748;
    }

    .faq-question {
      padding: 14px 18px;
      font-size: 16px;
      color: white;
    }
    /* Sidebar */
    .sidebar {
      flex: 1;
      min-width: 260px;
      display: flex;
      flex-direction: column;
      gap: 32px;
    }
  
    .title {
      font-weight: 600;
      margin-bottom: 10px;
      font-size: 1.08rem;
    }
    .support-options {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }
  
    .support-btn {
      color: #fff;
      background: #232a3c;
      border-radius: 5px;
      padding: 11px 10px;
      text-align: left;
      font-size: 16px;
      font-weight: bold;
    }
    .support-btn:hover {
      background:lightskyblue;
    }
    .Document {
      font-weight: 600;
      margin-bottom: 10px;
      font-size: 1.01rem;
      margin-bottom: 6px;
      color: #b6bacb;

    }
   
    @media (max-width: 950px) {
      .main {
        flex-direction: column;
        gap: 18px;
      }
      .sidebar {
        min-width: 0;
      }
    }